* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;

}

.product-listing h1{
    color: hsl(14, 65%, 9%);
    font-size: 2.5rem;
    padding: 25px;
}

.product-container {
    background-color: hsl(20, 50%, 98%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
}

.product-image {
    /* border: 1px solid green; */
    /* width: 400px; */
    /* padding: 20px; */
    /* overflow: hidden; */
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-image button {
    display: flex;
    max-width: 300px;
    padding: 14px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.product-image button img {
    width: 24px;
}

.product-image button span {
    font-size: 1.1rem;
    font-weight: 600;
}

.product-content {
    /* border: 1px solid blue; */
    line-height: 30px;
}

.product-content h2 {
    color: hsl(7, 20%, 60%);
    font-size: 1.1rem;
    font-weight: 500;
}

.product-content p {
    color: hsl(14, 65%, 9%);
    font-size: 1.3rem;
    font-weight: 700;
}

.product-content strong {
    color: hsl(14, 86%, 42%);
    font-size: 1.2rem;
    font-weight: 700;
}