* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

:root {
    --primary-color: hsl(13, 31%, 94%);
    --secondary-color: hsl(14, 25%, 72%);
    --third-color: hsl(14, 65%, 9%);
    --fourth-color: hsl(12, 20%, 44%);
    --heading: hsl(7, 20%, 60%);
    --active-color: hsl(14, 86%, 42%);
}

.product-listing {
    background-color: var(--primary-color);
}

.left-product-section h1{
    color: hsl(14, 65%, 9%);
    font-size: 2.5rem;
    padding: 25px;
}

.hr-rule {
    border: none;
    height: 1px;
    background-color: gainsboro;
    margin: 1em 0; 
}

.remove-btn {
    cursor: pointer;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-image .cart-control {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: white;
    border: 1px solid grey;
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; 
}

.cart-control span {
    white-space: nowrap;
    font-size: 1.1rem;
}


.product-image button img {
    width: 24px;
}

.product-image button span {
    font-size: 1.1rem;
    font-weight: 600;
}

.product-content {
    line-height: 30px;
}

.product-content h2 {
    color: var(--heading);
    font-size: 1.1rem;
    font-weight: 500;
}

.product-content p {
    color: var(--heading);
    font-size: 1.3rem;
    font-weight: 700;
}

.product-content strong {
    color: var(--active-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.plus, .minus{
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus .plus-img{
    width: 15px;
    height: 15px;
}

.minus .minus-img  {
    width: 15px;
    height: 4px;
}

.cart-control.active{
    background-color: var(--active-color);
}

.products-img.active-img {
    border: 2px solid var(--active-color);
}

.quantity {
    color: white;
}

.cart-container {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-container h2 {
    color: var(--active-color);
    font-size: 1.7rem;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-left .item-name {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.item-meta {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-meta .qty {
    color: var(--active-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.item-meta .price {
    color: var(--secondary-color);
    font-weight: 600;
}

.item-meta .subtotal {
    color: var(--fourth-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.cart-right {
    width: 30px;
    height: 30px;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cart-right img {
    width: 13px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-total span {
    color: gray;
    font-size: 1.1rem;
    font-weight: 500;
}

.order-total strong {
    font-size: 1.6rem;
    font-weight: 700;
}

.delivery {
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.delivery img {
    width: 25px;
    height: 25px;
}

.delivery span {
    font-size: 1.1rem;
    color: var(--fourth-color);
    font-weight: 500;
}

.delivery strong {
    color: hsl(14, 65%, 9%);
}

.confirm-btn {
    margin-top: 10px;
    background-color: var(--active-color);
    color: hsl(20, 50%, 98%);
    border-radius: 40px;
    padding: 20px 35px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.confirm-order-img {
    width: 30px;
    height: 30px;
}

.modal-items-list {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.modal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-inner {
    display: flex;
    gap: 5px;
    align-items: center;
}

.modal-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.modal-meta {
    display: flex;
    justify-content: space-between;
}

.modal-meta .qty {
    color: var(--active-color);
    font-weight: 500;
}

.modal-item-name {
    font-weight: 600;
    color: var(--third-color);
}

.subtotal {
    font-weight: 600;
    font-size: 1rem;
}

.confirm-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.close-modal {
    display: none;
}

.modal-content {
    background: white;
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content h2 {
    font-size: 1.8rem;
}

.modal-total {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.3rem;
}

.start-new-btn {
    background: var(--active-color);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}

@media (min-width: 480px) {

    .product-listing {
        display: flex;
        background-color: #fcf8f5;
    }

    .left-product-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .product-container {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .cart-control span {
        white-space: nowrap;
        font-size: 0.5rem;
    }

    .product-image {
        max-width: 220px;
        height: 200px;
    }

    .cart-control {
        padding: 10px 20px;
    }

    .product-content p {
        font-size: 1rem;
    }

    .product-content strong {
        font-size: 1rem;
    }

    .right-cart-section {
        position: relative;
        width: 100%;
        padding: 10px;
    }
    

    .right-cart-section .cart-image {
        width: 250px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        color: var(--fourth-color);
        font-weight: 500;
        font-size: 0.9rem;
    }

    .cart-section {
        background-color: #fff;
        width: 200px;
        height: 250px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50px;
    }
    
}