* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

.product-listing {
    border: 1px solid red;
    background-color: hsl(13, 31%, 94%);

}

.product-listing h1{
    color: hsl(14, 65%, 9%);
    font-size: 2.5rem;
    padding: 25px;
}

.product-container {
    /* background-color: hsl(20, 50%, 98%); */
    /* background-color: hsl(13, 31%, 94%); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid blue;
    padding: 10px;
}

.product-card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
}

.product-image {
    /* border: 1px solid green; */
    /* width: 400px; */
    /* padding: 20px; */
    /* overflow: hidden; */
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* border: 1px solid violet; */
}

.product-image .cart-control {
    display: flex;
    max-width: 300px;
    padding: 14px 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.product-image button img {
    width: 24px;
}

.product-image button span {
    font-size: 1.1rem;
    font-weight: 600;
}

.product-content {
    /* border: 1px solid blue; */
    line-height: 30px;
}

.product-content h2 {
    color: hsl(7, 20%, 60%);
    font-size: 1.1rem;
    font-weight: 500;
}

.product-content p {
    color: hsl(14, 65%, 9%);
    font-size: 1.3rem;
    font-weight: 700;
}

.product-content strong {
    color: hsl(14, 86%, 42%);
    font-size: 1.2rem;
    font-weight: 700;
}

.plus, .minus{
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus .plus-img{
    width: 15px;
    height: 15px;
}

.minus .minus-img  {
    width: 15px;
    height: 4px;
}

.cart-control.active{
    background-color: hsl(14, 86%, 42%);
    /* border: 2px solid hsl(14, 86%, 42%); */
}

.products-img.active-img {
    border: 2px solid hsl(14, 86%, 42%);
}

.quantity {
    color: white;
}

.cart-container {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: lightpink; */
}

.cart-wrapper {
    /* background-color: lightblue; */
}

.cart-container h2 {
    color: rgb(225, 14, 14);
    font-size: 1.7rem;
}

.cart-list {
    /* background-color: #fff; */
    /* border: 1px solid green; */
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-left {
    /* border: 1px solid yellow; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-left .item-name {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.item-meta {
    /* border: 1px solid blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
}

.item-meta .qty {
    color: red;
    font-size: 1.1rem;
    font-weight: 600;
}

.item-meta .price {
    color: hsl(14, 25%, 72%);
    font-weight: 600;
}

.item-meta .subtotal {
    color: hsl(12, 20%, 44%);
    font-size: 1.1rem;
    font-weight: 600;
}

.cart-right {
    width: 30px;
    height: 30px;
    border: 1px solid hsl(14, 25%, 72%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cart-right img {
    width: 13px;
}

.order-total {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-total span {
    color: gray;
    font-size: 1.1rem;
    font-weight: 500;
}

.order-total strong {
    font-size: 1.6rem;
    font-weight: 700;
}

.delivery {
    background-color: hsl(13, 31%, 94%);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.delivery img {
    width: 25px;
    height: 25px;
}

.delivery span {
    font-size: 1.1rem;
    color: hsl(12, 20%, 44%);
    font-weight: 500;
}

.delivery strong {
    color: hsl(14, 65%, 9%);
}

.confirm-btn {
    /* width: 100%; */
    margin-top: 10px;
    background-color: hsl(14, 86%, 42%);
    color: hsl(20, 50%, 98%);
    border-radius: 40px;
    padding: 20px 35px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
}